.InputCompo{
    margin:auto;
    width: 80%;
    padding: 20px;
    height: 50px;
    background-color: whitesmoke;
}

.InputCompo input,select{
    height: 30px;
    width: 250px;
    margin: auto 20px;
}

button{
    height: 40px;
    width: 150px;
    margin: auto 20px;
    border: none;
    background-color: rgba(0, 128, 128,0.7);
    box-shadow: 4px 4px gray;
    color: azure;
    cursor: pointer;
}

button:hover{
    transform: scale(0.9);
}
