.txnList{
    width: 83%;
    height: 400px;
    margin: auto;
    background-color: silver;
    /* padding: auto; */
    overflow: scroll;
}

.txnList ul{
    padding: unset;
}

.header{
    margin: auto;
    width: 100%;
    height: 40px;
    border :none;
    box-shadow: 9px;
    background-color: rgba(255, 250, 250,0.8);

}

.header span{
    margin: 10px auto;
}