.txn{
    margin: 5px auto;
    width: 90%;
    height: 60px;
    border :none;
    box-shadow: 9px;
    background-color: snow;
    font-size: 20px;
}

.descbox{
    width: 50%;
    display: inline-block;
    text-align: center;
}

.box{
    width: 20%;
    display: inline-block;
}

.amtbox{
    text-align: center;
}

.typebox{
    text-align: right;
    padding-right: 5px;
}

.txn span{
    margin-top: 15px;
}

img{
    height: 20px;
    margin-left: 20px;
    opacity: 0.4;
    cursor: pointer;
}

img:hover{
    opacity: 1;
}


